<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">


<div id="toggleContainer">
    <div class="toggle-wrapper">
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="checkbox-label">
            <i class="fas fa-moon">&#127769;</i>
            <i class="fas fa-sun">☀️</i>
            <span class="ball"></span>
        </label>
    </div>
</div>

<style>

    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Montserrat", sans-serif;
        background-color: #cdf1cb;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%2392ac95' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        min-height: 100vh;
        margin: 0;
        transition: background 0.2s linear;
    }

        body.dark {
            background-color: #092907;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%2327522d' fill-opacity='0.51' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
            color: #fff; /* Text color for dark mode */
        }
            /* #9b59b6 */
            body.dark th,
            body.dark td {
                color: #fff; /* Table text color for dark mode */
            }

    #filterContainer {
        display: flex;
        align-items: center;
    }

    #filterText {
        margin-right: 10px;
    }

    body.dark h1, body.dark .support a {
        color: #fff;
    }

    .checkbox {
        opacity: 0;
        position: absolute;
    }

    .checkbox-label {
        background-color: #111;
        width: 50px;
        height: 26px;
        border-radius: 50px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fa-moon,
    .fa-sun {
        font-size: 10px; /* Adjust the font size as needed */
        color: #fff;
    }


    .checkbox-label .ball {
        background-color: #fff;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .checkbox:checked + .checkbox-label .ball {
        transform: translateX(24px);
    }
</style>

<button class="btn btn-secondary float-end create-link" data-url="@Url.Action("Create", "Tasks")">Create New</button>
<br />

<div class="modal-body">
    <div id="filterContainer">
        <label for="filterText">Filter:</label>
        <input type="text" id="filterText" class="form-control mb-2">
        <button id="filterButton" class="btn btn-primary">Filter</button>
    </div>
    <br />
    <!-- Display the table with tasks -->
    <table id="taskTable" class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Prioritization</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in ViewBag.Task)
            {
                <tr>
                    <td>@task.Description</td>
                    <td>@task.StartDate</td>
                    <td>@task.DueDate</td>
                    <td>@task.Priority.PriorityName</td>
                    <td>@task.Status.StatusType</td>
                    <td>
                        <button class="btn btn-secondary edit-link" data-url="@Url.Action("Edit", "Tasks", new { id = task.TaskID })">Update</button>
                        <button class="btn btn-secondary delete-link" data-url="@Url.Action("Delete", "Tasks", new { id = task.TaskID })">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to handle Edit and Delete link click events
        $(document).on("click", ".edit-link, .edit-link-in-modal, .delete-link", function (e) {
            e.preventDefault();
            var url = $(this).data("url");

            $.get(url, function (data) {
                $("#modal-content").empty();
                $("#modal-content").html(data);
                $("#myModal").modal("show");
            });
        });

        // Function to handle form submission within the modal
        $(document).on("submit", "#modal-content form", function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr("action");
            var formData = form.serialize();

            $.post(url, formData, function (data) {
                $("#myModal").modal("hide");
                // Uncomment the following line to reload the page after update
                location.reload();
            });
        });

        // Function to handle filter button click event
        $(document).on("click", "#filterButton", function () {
            var filterText = $("#filterText").val().toLowerCase();

            // Filter table rows based on the input text
            $("#taskTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterText) > -1);
            });
        });

        // Function to handle "Create New" button click event
        $(document).on("click", ".create-link, .create-lookup-link", function (e) {
            e.preventDefault();
            var url = $(this).data("url");

            $.get(url, function (data) {
                $("#modal-content").empty();
                $("#modal-content").html(data);
                $("#myModal").modal("show");
            });
        });
    });

</script>

<script>

    const checkbox = document.getElementById("checkbox")
    checkbox.addEventListener("change", () => {
        document.body.classList.toggle("dark")
    })
</script>
